img {
    display: block;
    width: 500px;
    margin: 0 auto;
    margin-bottom: 10px;    
}
h1 {
    text-align: center;
}
.red {
    background: red;
    color: aliceblue;
}
.blue {
    background: blue;
}